* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

html {
    background: url(images/BMG-Background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner h1 {
    font-family: 'Satisfy', cursive;
    color:white;
    text-shadow: -2px 3px 4px rgba(76, 49, 40, 1);
}

.main-page {
    background-color:rgba(72, 52, 46, 0.7);
}

.intro{
    font-family: 'Satisfy', cursive;
    text-shadow: -2px 2px 2px rgba(71, 37, 37, 1);
}
.start-button {
    background-color:white;
    color: #46332d;
    padding: 20px;
}

.hidden{
    display:none;
}

label {
    text-shadow:-2px 1px 2px rgba(71, 37, 37, 1);
    color:white;
    display:block;
}

.search-page input {
    color:black;
}

button {
    display:block;
    margin: auto;
    background-color: #b44839;
    color: white;
}

ul {
    list-style-type: none;
}

.youtube-results{
    background-color: rgba(184, 70, 0, 0.87);
    padding: 20px 20px;
    border-radius: 4px;
}

.news-results {
    background-color:rgba(73, 44, 45, 0.89);
    padding: 20px 20px;
    border-radius:4px;
    margin-left: 3em;
    margin-right: 3em;
}

.news-image {
    width: 300px;
    height: auto;
}

.tastedive-results {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;}

.tastedive-list {
    padding: 30px;
    border-radius:4px;
    background-color: rgba(68, 123, 141, 0.81);
}

@media screen and (min-width: 320px) {
    .main-page {
        margin-left:1em;
        margin-right:1em;
        border-radius: 5px;
        padding:20px;
        margin-top: 50px;
    }

    .banner {
        margin-top: 20px;
    }

    .banner h1 {
        font-size: 55px;
    }
    
    .main-page p {
        font-size: 20px;
        display: block;
    }

    .main-page .intro {
        font-size: 35px;
    }
        
    .start-button {
        border-radius: 4px;
        padding: 20px;
        font-size: 1.5em;
    }

    form {
        padding-top: 90px;
    }

    label {
        font-size:24px;
        display:block;
        padding: 10px;
    }

    .search-page input {
        font-size:20px;
        margin-top: 10px;
        width: 325px;
        height:50px;        
        border-radius:10px;
    }

    button {
        margin-top: 10px;
        border-radius: 4px;
        height:50px;
        font-size: 20px;
    }

    .youtube-header{
        text-shadow: -1px 2px 2px rgba(184, 70, 0, 0.87);
    }

    .youtube-results{
        border-radius: 4px;
        margin-left:3px;
        margin-right:3px;
        overflow: auto;
    }

    .youtube-title {
        padding-left: 10px;
        padding-right: 10px;
    }

    iframe {
        width:250px;
        height:auto;
    }
    
    .news-header {
        text-shadow: -3px 2px 3px rgba(73, 44, 45, 0.89);

    }

    .news-results {
        padding: 20px 20px;
        border-radius:4px;
        margin-left: 3px;
        margin-right: 3px;
        overflow: auto;
    }
    
    .news-image {
        width: 250px;
        height: auto;
        display:block;
        margin:auto;
    }

    .tastedive-header {
        text-shadow: -3px 2px 3px rgba(68, 123, 141, 0.81);
    }
    
    .tastedive-results {
        display:block;
        margin-left:3px;
        margin-right:3px;
        height:300px;
        overflow-x: auto;
    }
    
    .tastedive-list {
        padding: 30px;
        margin-left: 3px;
        margin-right: 3px;
        border-radius:4px;
    }
}

@media screen and (min-width: 765px){
    .banner h1 {
        margin-top: 100px;
        font-size: 75px;
    }

    .main-page {
        margin-left:3em;
        margin-right:3em;
        border-radius: 5px;
        padding:50px 20px;
        margin-top: 40px;
    }

    .main-page .intro {
        font-size: 45px;
    }

    .main-page p {
        font-size: 30px;
    }
        
    .start-button {
        border-radius: 4px;
        padding: 15px;
        font-size: 2em;
    }

    form {
        padding-top: 120px;
    }

    label {
        font-size:45px;
    }

    .search-page input {
        font-size:20px;
        margin-top: 15px;
        width: 375px;
        height:60px;        
        border-radius:10px;
    }

    button {
        margin-top: 10px;
        border-radius: 4px;
        height:50px;
        width: 150px;
        font-size: 26px;
    }

    .youtube-header{
        font-size: 30px;
        text-shadow: -2px 2px 2px rgba(184, 70, 0, 0.87);
    }

    .youtube-results{
        border-radius: 4px;
        margin-left:10px;
        margin-right:10px;
        overflow: auto;
    }

    .youtube-title {
        padding-left: 50px;
        padding-right: 50px;
    }

    iframe {
        width:375px;
        height:250px;
    }

    .news-header {
        font-size: 30px;
        text-shadow: -3px 2px 3px rgba(73, 44, 45, 0.89);
    }
    
    .news-results {
        padding: 20px 20px;
        border-radius:4px;
        margin-left: 10px;
        margin-right: 10px;
        overflow: auto;
    }

    .news-title {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .news-image {
        width:375px;
        height:250px;
        display:block;
        margin:auto;
    }

    .tastedive-header {
        font-size: 30px;
        text-shadow: -3px 2px 3px rgba(68, 123, 141, 0.81);
    }
    
    
    .tastedive-results {
        display:block;
        margin-left:10px;
        margin-right:10px;
        height:300px;
        overflow-x: auto;
    }
    
    .tastedive-list {
        padding: 30px;
        margin-left: 3px;
        margin-right: 3px;
        border-radius:4px;
    }

    .search-again {
        margin-top: 20px;
        border-radius: 6px;
        height:65px;
        width: 150px;
        font-size: 24px;
    }
}


@media screen and (min-width: 1000px){
    .banner h1 {
        text-shadow: -2px 4px 4px rgba(76, 49, 40, 1);
        font-size: 80px;
    }

    .main-page {
        margin-left:50px;
        margin-right:50px;
        border-radius: 5px;
        padding: 30px 30px;
        margin-top: 50px;
    }
    
    .main-page h3 {
        font-size: 30px;
    }
    
    .start-button {
        border-radius: 4px;
        font-size: 2.3rem;
    }

    form {
        padding: 75px;
    }
    
    label {
        padding:30px;
        font-size:40px;
    }
    
    .search-page input {
        margin-top: 0px;
        width: 400px;
        height: 51px;
        border-radius:10px;
        display: inline-block;
    }

    button {
        margin-top: 20px;
        border-radius: 6px;
        height: 48px;
        width: 150px;
        font-size: 24px;
        display: inline-block;
    }

    #left {
        display: inline-block;
        width: 45%
    }

    #right {
        display: inline-block;
        width: 45%
    }

    .youtube-header{
        font-size: 50px;
        text-shadow: -2px 2px 2px rgba(184, 70, 0, 0.87);
    }
    
    .youtube-results{
        border-radius: 4px;
        overflow: auto;
        height: 500px;
    }

    .youtube-title {
        padding-left: 50px;
        padding-right: 50px;
    }

    iframe {
        width:475px;
        height:350px;
    }

    .news-header {
        font-size: 50px;
        text-shadow: -3px 2px 3px rgba(73, 44, 45, 0.89);
    }
    
    .news-results {
        border-radius:4px;
        height:500px;
        overflow: auto;
    }

    .news-title {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .news-image {
        width:475px;
        height:350px;
        display:block;
        margin:auto;
    }

    .tastedive-header {
        font-size: 50px;
        text-shadow: -3px 2px 3px rgba(68, 123, 141, 0.81);
    }
    
    .tastedive-results {
        display:block;
        margin-left:80px;
        margin-right:80px;
        overflow-y: scroll;
    }
    
    .tastedive-list {
        padding: 30px;
        margin-left: 3px;
        margin-right: 3px;
        border-radius:4px;
    }
    

    .search-again {
        border-radius: 6px;
        height:65px;
        font-size: 24px;
    }

}
