* {
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

html {
    background: url(images/BMG-Background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-page {
    background-color:rgba(72, 52, 46, 0.7);
}

h1 {
    color:white;
    text-shadow: -2px 3px 3px rgba(150, 150, 150, 1);
}

.main-page h3 {
    color:white;
}

.start-button {
    background-color:white;
    color: #46332d;
    padding: 20px;
}

.hidden{
    display:none;
}

form {
    padding-top: 150px;
}

label {
    color:white;
    display:block;
}

.search-page input {
    color:black;
}

button {
    background-color:white;
    display:block;
    margin: auto;
    color: #46332d;
}

ul {
    list-style-type: none;
}

.youtube-results{
    background-color:rgba(72, 52, 46, 0.7);
    padding: 20px 20px;
    border-radius: 4px;
}

.news-results {
    background-color:rgba(187, 85, 2, 0.58);
    padding: 20px 20px;
    border-radius:4px;
    margin-left: 3em;
    margin-right: 3em;
}

.news-image {
    width: 300px;
    height: auto;
}

.tastedive-results {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;}

.tastedive-list li {
    background-color: rgba(199, 89, 72, 0.71);
    padding: 30px;
    border-radius:4px;
}

.rec-results{
    display: block;
}


@media screen and (min-width: 320px) {
    .main-page {
        margin-left:1em;
        margin-right:1em;
        border-radius: 5px;
        padding:20px;
        margin-top: 65px;
    }

    h1 {
        font-size: 40px;
    }
    
    .main-page h3 {
        font-size: 22px;
        }
        
    .start-button {
        border-radius: 4px;
        padding: 20px;
        font-size: 1.5em;
    }

    form {
        padding-top: 200px;
    }

    label {
        color:white;
        text-shadow: -2px 1px 2px rgba(150, 150, 150, 1);
        font-size:24px;
        display:block;
        padding: 10px;
    }

    .search-page input {
        font-size:20px;
        margin-top: 10px;
        width: 325px;
        height:50px;        
        border-radius:10px;
    }

    button {
        margin-top: 10px;
        border-radius: 4px;
        height:50px;
        font-size: 20px;
    }

    .youtube-results{
        background-color:rgba(72, 52, 46, 0.7);
        border-radius: 4px;
        margin-left:3px;
        margin-right:3px;
        overflow: auto;
        height:500px;
    }

    .youtube-title {
        padding-left: 10px;
        padding-right: 10px;
    }

    iframe {
        width:250px;
        height:auto;
    }
    
    .news-results {
        background-color:rgba(187, 85, 2, 0.58);
        padding: 20px 20px;
        border-radius:4px;
        margin-left: 3px;
        margin-right: 3px;
        height:500px;
        overflow: auto;
    }
    
    .news-image {
        width: 250px;
        height: auto;
        display:block;
        margin:auto;
    }
    
    .tastedive-results {
        display:block;
        margin-left:3px;
        margin-right:3px;
        height:300px;
        overflow-x: auto;
    }
    
    .tastedive-list {
        background-color: rgba(199, 89, 72, 0.71);
        padding: 30px;
        margin-left: 3px;
        margin-right: 3px;
        border-radius:4px;
    }
}

@media screen and (min-width: 765px){
    .main-page {
        margin-left:3em;
        margin-right:3em;
        border-radius: 5px;
        padding:100px 20px;
        margin-top: 150px;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 50px;
    }
    
    .main-page h3 {
        margin-top: 50px;
        font-size: 35px;
        }
        
    .start-button {
    border-radius: 4px;
    padding: 15px;
    font-size: 2em;
    }

    form {
        padding-top: 365px;
    }

    label {
        color:white;
        text-shadow: -2px 3px 3px rgba(150, 150, 150, 1);
        font-size:45px;
        display:block;
    }

    .search-page input {
        font-size:20px;
        margin-top: 15px;
        width: 375px;
        height:60px;        
        border-radius:10px;
    }

    button {
        margin-top: 10px;
        border-radius: 4px;
        height:50px;
        width: 150px;
        font-size: 26px;
    }

    .youtube-results{
        background-color:rgba(72, 52, 46, 0.7);
        border-radius: 4px;
        margin-left:10px;
        margin-right:10px;
        overflow: auto;
        height:550px;
    }

    .youtube-title {
        padding-left: 50px;
        padding-right: 50px;
    }

    iframe {
        width:375px;
        height:250px;
    }
    
    .news-results {
        background-color:rgba(187, 85, 2, 0.58);
        padding: 20px 20px;
        border-radius:4px;
        margin-left: 10px;
        margin-right: 10px;
        height:500px;
        overflow: auto;
    }

    .news-title {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .news-image {
        width:375px;
        height:250px;
        display:block;
        margin:auto;
    }
    
    .tastedive-results {
        display:block;
        margin-left:10px;
        margin-right:10px;
        height:300px;
        overflow-x: auto;
    }
    
    .tastedive-list {
        background-color: rgba(199, 89, 72, 0.71);
        padding: 30px;
        margin-left: 3px;
        margin-right: 3px;
        border-radius:4px;
    }

    .search-again {
        margin-top: 20px;
        border-radius: 6px;
        height:65px;
        width: 150px;
        font-size: 24px;
    }
}


@media screen and (min-width: 1000px){
    .main-page {
        margin-left:50px;
        margin-right:50px;
        border-radius: 5px;
        padding: 55px 30px;
        margin-top: 75px;
    }
    
    h1 {
        font-size: 50px;
    }
    
    .main-page h3 {
        font-size: 30px;
    }
    
    .start-button {
        border-radius: 4px;
        font-size: 2.3rem;
    }

    form {
        padding: 75px;
    }
    
    label {
        text-shadow: -2px 3px 3px rgba(150, 150, 150, 1);
        padding:30px;
        font-size:40px;
    }
    
    .search-page input {
        margin-top: 10px;
        width: 400px;
        height:75px;
        border-radius:10px;
    }
    button {
        margin-top: 20px;
        border-radius: 6px;
        height:65px;
        width: 150px;
        font-size: 24px;
    }

    .youtube-results{
        background-color:rgba(72, 52, 46, 0.7);
        border-radius: 4px;
        margin-left:80px;
        margin-right:80px;
        overflow: auto;
        height:550px;
    }

    .youtube-title {
        padding-left: 50px;
        padding-right: 50px;
    }

    iframe {
        width:475px;
        height:350px;
    }
    
    .news-results {
        background-color:rgba(187, 85, 2, 0.58);
        padding: 20px 20px;
        border-radius:4px;
        margin-left: 80px;
        margin-right: 80px;
        height:500px;
        overflow: auto;
    }

    .news-title {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .news-image {
        width:475px;
        height:350px;
        display:block;
        margin:auto;
    }
    
    .tastedive-results {
        display:block;
        margin-left:80px;
        margin-right:80px;
        height:300px;
        overflow-y: scroll;
    }
    
    .tastedive-list {
        background-color: rgba(199, 89, 72, 0.71);
        padding: 30px;
        margin-left: 3px;
        margin-right: 3px;
        border-radius:4px;
    }

    .search-again {
        margin-top: 20px;
        border-radius: 6px;
        height:65px;
        width: 150px;
        font-size: 24px;
    }

}
