* {
    box-sizing: border-box;
    text-align: center;
}

.start-button {
    display: block;
    margin:auto;
}

.hidden{
    display:none;
}

ul {
    list-style-type: none;
}

.news-image {
    width: 300px;
    height: auto;
}

